name: CD - Deploy to AKS

on:
    push:
        branches:
            - main
    workflow_dispatch:

permissions:
    id-token: write
    contents: read

jobs:
    cd:
        uses: ITAssetManagementSystem/CommonWorkflows/.github/workflows/cd-aks.yml@main
        with:
            service_name: reporting-service
            dockerfile_path: Dockerfile
            manifests_path: manifests
            namespace: it-reporting
            acr_name: devacr231225
        secrets: inherit
