name: CD - Deploy UI Service to AKS

on:
    push:
        branches:
            - main
    workflow_dispatch:

permissions:
    id-token: write
    contents: write

jobs:
    deploy:
        uses: ITAssetManagementSystem/CommonWorkflows/.github/workflows/cd-helm-aks.yml@main
        with:
            service_name: reporting-service
            namespace: it-reporting
            values_file: helm/values.yaml
            chart_version: 1.0.0
            acr_name: devacr301225
            aks_name: dev-aks
            resource_group: dev-rg
        secrets: inherit
